/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    /*css for full size background image*/
    background: url("../img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: white;
    color: black;
    text-align: center;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

.container 
{
    position: relative;
    top: 100px;
    margin-bottom: 100px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead {
    background-color: rgba(86, 196, 207, 0.6);
    /*position: relative !important;*/
    z-index: 1000;
}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

    .masthead-nav > li + li {
        margin-left: 20px;
    }

    .masthead-nav > li > a {
        padding-right: 0;
        padding-left: 0;
        font-size: 16px;
        font-weight: bold;
        color: #000; /* IE8 proofing */
        color: rgba(0,0,0, 1);
        border-bottom: 2px solid transparent;
    }

        .masthead-nav > li > a:hover,
        .masthead-nav > li > a:focus {
            background-color: transparent;
            border-bottom-color: #a9a9a9;
            border-bottom-color: rgba(255,255,255,.25);
        }

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #DA203E;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

    .cover .btn-lg {
        padding: 10px 20px;
        font-weight: bold;
    }


/*
 * Footer
 */

.mastfoot {
    color: black;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }

    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

h1, p.lead {
    color: black;
}

.row-form {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    min-height: 400px;
}

.row {
    margin-top: 40px;
    padding: 0 10px;
}

.clickable {
    cursor: pointer;
}

.panel-heading {
    height: 30px;
}

    .panel-heading div {
        margin-top: -6px;
        font-size: 16px;
    }

        .panel-heading div span {
            margin-left: 5px;
        }

.panel-body {
    display: none;
}

/*
    Minhas Informações
*/
#map-image {
    position: relative;
    height: 532px;
    background: #fff url(https://citweb.cit.com.br/citmap/maps/bra-sp-cps-16.jpg) no-repeat center;
    border: #000 1px solid;
}

.map-area {
    cursor: pointer;
    position: absolute;
    display: block;
    opacity: 0.5;
}

    .map-area > span {
        background: #aaa;
        display: block;
        width: 100%;
        height: 100%;
        color: #DA203E;
        vertical-align: bottom;
    }

    .map-area > input {
        display: none;
    }

        .map-area > input:checked + span {
            background: green;
        }

.map-area-a {
    top: 10px;
    left: 0;
    width: 285px;
    height: 165px;
}

.map-area-b {
    top: 10px;
    left: 729px;
    width: 340px;
    height: 165px;
}

.map-area-c {
    top: 200px;
    left: 0;
    width: 355px;
    height: 150px;
}

.map-area-d {
    top: 380px;
    left: 0;
    width: 355px;
    height: 140px;
}

.map-area-e {
    top: 380px;
    left: 418px;
    width: 651px;
    height: 140px;
}
